:host {
  display: grid;
  padding: 16px;
  background: var(--dark-color);
  border: 1px solid var(--light-color);
  grid-template-columns: 32px 1fr 40px 44px;
  gap: 12px;
  align-items: center;
}

.hidden-textarea {
  resize: none;
  border: none;
  background: var(--dark-color);
  color: var(--light-color);

  &:hover,
  &:focus-visible {
    outline: 1px solid var(--primary-color);
    border-radius: 4px;
  }
}

:host.comment {
  border: 1px dashed var(--light-color);
  border-radius: 4px;
}

.btn-smile {
  background: none;
  border: none;
}

.smile {
  width: 16px;
  height: 16px;
  color: var(--light-color);
  cursor: pointer;

  &:hover,
  &:focus-visible {
    color: var(--primary-color);
  }
}