<form class="profile-search-form" [formGroup]="searchForm">
            <label class="tt-search-label">
                <span class="tt-form-label__text">Имя</span>
                <input type="text" class="tt-form-input pr15" formControlName="firstName">
                <svg icon="search" class="search-filter"></svg>
            </label>

            <label class="tt-search-label">
                <span class="tt-form-label__text">Фамилия</span>
                <svg icon="search" class="search-filter"></svg>
                <input type="text" class="tt-form-input pr15" formControlName="lastName">
                <svg icon="search" class="search-filter"></svg>
            </label>

            <label class="tt-search-label">
                <span class="tt-form-label__text">Навыки</span>
                <input type="text" class="tt-form-input pr15" formControlName="stack">
                <svg icon="search" class="search-filter"></svg>
            </label>

    <div class="btn-search">
        <svg icon="filter" class="btn-svg__filter"></svg>
    </div>
</form>