.profile-search-form {
  position: relative;
  padding: 16px 20px;
  background: var(--dark-color);
  border: 1px solid var(--light-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-gap: 40px;
}

.tt-search-label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &:hover,
  &:focus-visible {
    .search-filter {
      color: var(--primary-color);
    }

    .pr15 {
      border-bottom: 1px solid var(--primary-color);
    }
  }
}

.pr15 {
  padding-right: 15px;
}

.search-filter {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 12px;
  width: 12px;
  height: 12px;
}

.btn-search {
  position: absolute;
  width: 46px;
  height: 46px;
  background: var(--primary-color);
  border: 1px solid var(--dark-color);
  right: 20px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus-visible {
    border: 1px solid var(--light-color);
  }
}

.btn-svg__filter {
  width: 16px;
  height: 16px;
  color: var(--light-color);
}
