:host {
  width: 100%;
  background: none;
  border: none;
  border-bottom: var(--light-border);
  padding: 24px 20px;
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
}

:host:hover,
:host:focus-visible,
:host.active {
  background: var(--dark-hover-color);
  cursor: pointer;
}

.last-message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.message-user {
  color: var(--light-color);
}
