:host {
	height: 100dvh;
	display: grid;
	padding: 16px 20px;
	grid-template-rows: 1fr auto;
}

.messages-wrapper {
	display: grid;
	grid-gap: 12px;
	grid-auto-rows: min-content;
	align-content: start;
	overflow-y: scroll;
	height: 100%;
}

.messages-wrapper::-webkit-scrollbar {
	display: none;
}

.input-send {
	padding-top: 16px;
}

.date-group {
	display: grid;
	place-items: center;
}

.group-message {
	padding: 8px 10px;
	color: var(--light-color);
	background: var(--dark-hover-color);
	border-radius: 1px;
}
