:host {
	display: grid;
	grid-gap: 48px;
	grid-template-columns: 322px 1fr;
	padding: 24px;
}

.profile-form__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid var(--light-color);
	background: var(--dark-color);
	height: calc(100dvh - (24px * 4));
	padding: 32px;
}

.profile-form {
	display: grid;
	grid-gap: 20px;
}

.two-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.three-btn-settings {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
}

.two-btn {
	display: flex;
	gap: 20px;
}

.btn-icon {
	background: none;
	border: 1px solid var(--light-color);

	&:hover,
	&:focus-visible {
		border: 1px solid var(--primary-color);
	}
}

.btn-save {
	width: 227px;
	height: 44px;
	background-color: var(--primary-color);
	color: var(--dark-color);
	border: 1px solid var(--dark-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	cursor: pointer;
	border-radius: 4px;

	&:hover,
	&:focus-visible {
		border: 1px solid var(--light-color);
	}
}

.white {
	color: var(--light-color);
}

.btn-go-work {
	position: relative;
}

.btn-work {
	position: absolute;
	width: 44px;
	height: 44px;
	background: var(--primary-color);
	right: 0;
	bottom: 50%;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid var(--dark-color);

	&:hover,
	&:focus-visible {
		border: 1px solid var(--light-color);
	}
}

.work-img {
	width: 32px;
	height: 32px;
}
